@import "../fonts/scss/fontawesome.scss";
@import "../fonts/scss/solid.scss";
@import "../fonts/scss/brands.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "utilities";
@import "../bootstrap/scss/bootstrap";

/*login-page*/

.login {
    height: 100vh;
    background: url(../images/login-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    padding: 5rem;
}

.login-logo {

    background: url(../images/logo.png);
    height: 191px;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-text {
    font-family: Helvetica;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    color: $white;
    text-align: center;
}

.login-form {
    width: 100%;
    font-family: $font-roboto;
    line-height: 2rem;
}

.login-form h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;
}

.btn-brown {
    background: $brown;
    padding: 0.3rem 4rem;
    border-color: transparent;
}

.btn-brown:hover {
    color: $white;
    background-color: $brown;
    border-color: transparent;
}

.small-text a {
    color: $brown;
}

.pswd i {
    color: $light-black;
    cursor: pointer;
}

.input-group-text {
    background-color: transparent;
}

.field-icon {
    float: right;
    margin-right: 10px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}